.terraform/terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_386/terraform-provider-aws_v5.100.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_386/terraform-provider-null_v3.2.4_x5.exe

# Terraform variables with sensitive data
terraform.tfvars
*.tfvars
!terraform.tfvars.example

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform directory
.terraform/
.terraform.lock.hcl
scripts/scheduler.log
scripts/scheduler.log
scripts/scheduler.log
scripts/scheduler.log
s3_backup/03-APCR-AIF_Content+Review_02.pdf
s3_backup/05.MOF_FinOps - May 7_v1.pdf
s3_backup/06.MOF_FinOps - June 17_s.pdf
s3_backup/21-372350_Cloudbank_TCC_Factsheet_Pages.pdf
s3_backup/22_660500_AI_FAIRS_Brochure_Digital.pdf
s3_backup/22-533551-FinOps_FS-Digital.pdf
s3_backup/22-626950-AIOps Factsheet-Digital.pdf
s3_backup/22-626950-AIOPS Factsheet-Print.pdf
s3_backup/22-626990-ZT Factsheet-Digital.pdf
s3_backup/22-626990-ZT Factsheet-Print.pdf
s3_backup/23-769011_FactSheet_NASAIT_CSS_Digital.pdf
s3_backup/23-769011_FactSheet_NASAIT_CSS_ForPrint.pdf
s3_backup/23-792450_DES_Factsheet_Digital.pdf
s3_backup/23-815000_FactSheet_Sentinel_NSINBasic_Digital.pdf
s3_backup/23-815000_FactSheet_Sentinel_NSINBasic_ForPrint.pdf
s3_backup/23-899200_MezzoBrochure_Digital (002).pdf
s3_backup/23-920484-NGEN Overview Fact Sheet_digital.pdf
s3_backup/24-0612-27919-Moveworks Fact sheet-Digital.pdf
s3_backup/24-0618-27939_DISA_IT_FS_Digital.pdf
s3_backup/24-995001_FactSheet_ConfidentialComputing_Digital.pdf
s3_backup/24-995001_FactSheet_ConfidentialComputing_ForPrint.pdf
s3_backup/24-1172501_FactSheet_CloudModernizationOverview_Digital.pdf
s3_backup/24-1182250 Digital Modernization Practices_R3.pdf
s3_backup/24-053127875_In3Sight_Mission_Cloud_Digital.pdf
s3_backup/24-053127875_In3Sight_Mission_Cloud_Print.pdf
s3_backup/25-1179050-Cloud and Data Center Practice FS-DIGITAL.pdf
s3_backup/25-1179050-Cloud and Data Center Practice FS-PRINT.pdf
s3_backup/25-1183550-Defensive Cyber FS-DIGITAL.pdf
s3_backup/25-1183550-Defensive Cyber FS-PRINT.pdf
s3_backup/25-1183600-Enterprise Digital Experience FS-DIGITAL.pdf
s3_backup/25-1183600-Enterprise Digital Experience FS-PRINT.pdf
s3_backup/25-1218700-InSight Cloud Management Platform Fact Sheet_digital.pdf
s3_backup/25-1218700-InSight Cloud Management Platform Fact Sheet_print.pdf
s3_backup/25-1219014-InSight IT Service Management Fact Sheet_digital.pdf
s3_backup/25-1234400-CRaaS Factsheet-DIGITAL.pdf
s3_backup/25-1234400-CRaaS Factsheet-PRINT.pdf
s3_backup/25-1240150-Networks Practice FS-DIGITAL.pdf
s3_backup/25-1240150-Networks Practice FS-PRINT.pdf
s3_backup/25-1242541-GMS_Fact Sheet_digital.pdf
s3_backup/25-1242541-GMS_Fact Sheet_PRINT.pdf
s3_backup/25-1242950-Information Advantage FS-DIGITAL.pdf
s3_backup/25-1242950-Information Advantage FS-PRINT.pdf
s3_backup/25-1246150-ConnectiV Energy Resilience Case Study_digital.pdf
s3_backup/25-1246150-ConnectiV Energy Resilience Case Study_PRINT.pdf
s3_backup/25-1260150-WP-Outsmarting the Silent Threat-print.pdf
s3_backup/25-1260150-WP-Outsmarting the Silent Threat-web.pdf
s3_backup/25-1261187-Cloud Insight Discover Fact Sheet_print.pdf
s3_backup/25-1261187-Cloud Insight Discover Fact Sheet.pdf
s3_backup/25-1262150-Cloud Insight Assess Fact Sheet.pdf
s3_backup/25-1262185-Cloud Insight Design Fact Sheet_print.pdf
s3_backup/25-1262185-Cloud Insight Design Fact Sheet.pdf
s3_backup/25-1262900-InSight FinOps Fact Sheet_print.pdf
s3_backup/25-1262900-InSight FinOps Fact Sheet.pdf
s3_backup/25-1262950-InSight Application Lifecycle Management Fact Sheet_print.pdf
s3_backup/25-1262950-InSight Application Lifecycle Management Fact Sheet.pdf
s3_backup/25-1262985-InSight ITOM Fact Sheet_print.pdf
s3_backup/25-1262985-InSight ITOM Fact Sheet.pdf
s3_backup/25-1263020-Leidos Secure Access Cloud Fact Sheet_print.pdf
s3_backup/25-1263020-Leidos Secure Access Cloud Fact Sheet.pdf
s3_backup/25-1264100-Application Modernization FS-DIGITAL.pdf
s3_backup/25-1264100-Application Modernization FS-PRINT.pdf
s3_backup/25-1278300-EXCITE Factsheet-DIGITAL.pdf
s3_backup/25-1278300-EXCITE Factsheet-PRINT.pdf
s3_backup/25-1278700-CyberSPEAR Factsheet-DIGITAL.pdf
s3_backup/25-1278700-CyberSPEAR Factsheet-PRINT.pdf
s3_backup/25-1280350-InSight Cloud Management PlatformWiz Fact Sheet_Digital.pdf
s3_backup/25-1280350-InSight Cloud Management PlatformWiz Fact Sheet_PRINT.pdf
s3_backup/25-1289750-ZTRL Alignment Fact Sheet_print.pdf
s3_backup/25-1289750-ZTRL Alignment Fact Sheet.pdf
s3_backup/25-1304600-Data ConnectiV_Final_Digital.pdf
s3_backup/25-1304600-Data ConnectiV_Final_Print.pdf
s3_backup/25-1327435-AUKUS LSE Fact Sheet_digital.pdf
s3_backup/25-1327435-AUKUS LSE Fact Sheet_PRINT.pdf
s3_backup/25-LEIDOS-0206-28956-Network Operations Security Center Brochure_Digital.pdf
s3_backup/37-2025 AWS_Leidos.docx
s3_backup/85-2025 GCP _Leidos.docx
s3_backup/2020dhmsm.pdf
s3_backup/Bid Booklet Specializations Tabbed.xlsx
s3_backup/Broch-Digital-Modernization-Digital-v-24-968555.pdf
s3_backup/Current Mission Drivers and Q4 (003).pptx
s3_backup/D-23-15149_Privacy-Enhancing Technologies (PET) White Paper.pdf
s3_backup/DATA AND AI POTENTIAL (004).pptx
s3_backup/DATA_AND_AI_POTENTIAL.pptx
s3_backup/DevSecOps_Slide.pptx
s3_backup/digital moderinization.pdf
s3_backup/digmode part 2.pdf
s3_backup/DISA GSM-O II WP_23-LEIDOS-0418-26217.pdf
s3_backup/DOD ABIS cloud migration enables faster biometric analysis worldwide.pdf
s3_backup/DUX_Public_Overview_UPDATED_Final.pptx
s3_backup/EDX Delight by Design.pdf
s3_backup/EV-electrify-fleet.pdf
s3_backup/FinOps, Mission Cloud, and CloudBank.pdf
s3_backup/FY24 SDD Annual Report_508.pdf
s3_backup/InSight Observe Fact Sheet_digital.pdf
s3_backup/InSight Observe Fact Sheet_print.pdf
s3_backup/Keeping America Infrastructure Safe with Quantum Technologies_Oct2022.pdf
s3_backup/Leidos advances Department of Defense biometrics to the cloud.pdf
s3_backup/LEIDOS_AI_Strategy_Upgraded_v2.pptx
s3_backup/Leidos- VAST 2026.pptx
s3_backup/ManagedX Fact Sheet.pdf
s3_backup/MOF Kickoff1 - 09.03.pdf
s3_backup/OC2ELOT fact sheet.pdf
s3_backup/OC2ELOT_Presentation.pptx
s3_backup/OC2ELOT_VAST_Leidos_NVIDIA_Full.pptx
s3_backup/power-grid-ai-powered.pdf
s3_backup/Software Factory Overview.pdf
s3_backup/Sourcegraph Factsheet_Final_Digital.pdf
s3_backup/Unlocking Mission Data - A Smarter Way to Share.pdf
s3_backup/Veeam Tender English.docx
s3_backup/zero-emissions-vehicles.pdf
s3_backup/בריף פעילות השלמת פיתוח תשתיות ענן  גרסה 2.4.1 (002).docx
s3_backup/חוברת הגשה- 16.2024.docx
s3_backup/חוברת+הצעה+-+פרסום+5+-+דאטה+וייעוץ+ופיתוח+AI+ML - מציע Leidos.docx
s3_backup/מסמך מתודולוגיית ענן ודוגמאות מפרויקטים.docx
s3_backup/מענה+לשאלות+הבהרה (5).pdf
s3_backup/מפל ליידוס בעמ- אנליטיקה מתקדמת של נתונים.pdf
s3_backup/פרויקט עבור לקוח שלא ניתן להציג בשלב זה עקב בקרת ייצוא D21 Factsheet-Digital.pdf
s3_backup/ריכוז שקפי AI.pptx
scripts/scheduler.log
