.terraform/terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_386/terraform-provider-aws_v5.100.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_386/terraform-provider-null_v3.2.4_x5.exe

# Terraform variables with sensitive data
terraform.tfvars
*.tfvars
!terraform.tfvars.example

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform directory
.terraform/
.terraform.lock.hcl
scripts/scheduler.log
scripts/scheduler.log
scripts/scheduler.log
